# skip binary, temporary and user-specific files

[Bb]in/
[Oo]bj/
[Ww]in32/
*.suo
*.sdf
*.user
*.opendb
.vs/
.vscode/
.github/*
!.github/copilot-instructions.md
.vscode/launch.json
.vscode/tasks.json
packages/
vcpkg_installed/
test/JammaLib.Tests/x64/
Directory.Build.local.props
